@tailwind base;
@tailwind components;
@tailwind utilities;

.moving-gradient {
  width: 100%;
  background: linear-gradient(45deg, #ffffff, #064e3b, #115e59, #164e63);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.custom-font {
  font-family: "Frasa";
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
